snippet ds displaystyle
	\\displaystyle $0

snippet int integral
	\\int_{$1}^{$2} $3 \\, d${4:x} $0

snippet ind indefinite integral
	\\int $1 \\, d${2:x} $0

snippet () \left \right
	\\left( $1 \\right)$0

snippet {} \left \right
    \\left\\{ $1 \\right\\}$0

snippet [] \left \right
    \\left[ $1 \\right]$0

snippet || \left \right
    \\left| $1 \\right|$0

snippet al* unnumbered align environment
	\\begin{align*}
		$1
	\\end{align*}

snippet dfrac display fraction
	\\dfrac{${1:num}}{${2:denom}}$0

snippet binom binomial
	\\binom{$1}{$2}$0

snippet dm displaymath
	\\[
		$1
	\\]

snippet mbf mathbf
    \\mathbf{$1}$0

snippet mrm mathrm
    \\mathrm{$1}$0

snippet te text
    \\text{$1}$0

snippet bb mathbb
    \\mathbb{$1}$0

snippet mc mathcal
    \\mathcal{$1}$0

snippet on operatorname
    \\operatorname{$1}$0

snippet on* operatorname*
    \\operatorname*{$1}$0

snippet tit textit
    \\textit{$1}$0
